body{
	overflow: hidden;
	padding:0;
	margin:0;
	font-family: 'Ubuntu', sans-serif;
	&.no-ui{
		#container-3d{
			width:100vw !important;
		}
		#interface{
			display:none;
		}
	}
}
#container-3d{
	position: absolute;
	width:calc(100vw - 320px);
	top:0px;
	height:100vh;
}
#interface{
	top:0px;
	position: absolute;
	right:0px;
	height:100vh;

	.gear-menu{
		width:320px;
		right:0px;
		position: absolute;
		height:100vh;
		top:0px;
		background-color:#CCCCCC;
		z-index:10;
		overflow: auto;
		margin-right: -20px;
	}

	.gear-list{
		transition: right 0.7s;
		position: absolute;
		top:0px;
		right:0px;
		width:300px;
		height:100vh;
		overflow: auto;
		margin-right: -20px;
		z-index: 1;
		&.open{
			right:300px;
		}
	}
}
